<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="" alt="House Image">
        <div class="card-body text-center">
            <h4></h4>
            <h6>Address: <b></b></h6>
            <h6>
                Price Per Month:
                <b>BGN</b>
            </h6>
            <h6>()</h6>
            <br />
            <a class="btn btn-success">Details</a>
                <a class="btn btn-warning">Edit</a>
                <a class="btn btn-danger">Delete</a>
                <p></p>
                <form class="input-group-sm" method="post">
                    <input class="btn btn-primary" type="submit" value="Rent" />
                </form>
                <form method="post">
                    <input class="btn btn-primary" type="submit" value="Leave" />
                </form>
        </div>
    </div>
</div>