<h2 class="text-center"></h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="" alt="House Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>