@model HouseDetailsViewModel

@{
    ViewBag.Title = "House Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <div class="card col-4" style="width: 20rem;">
        <img class="card-img-top" src="@Model.ImageUrl" alt="House image">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Address</p>
        </div>
    </div>
</div>