################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.editorconfig
*.suo
*.futdcache.v2
*.metadata.v5.2
*.projects.v5.2