body{
    background-color: #e4e978;
    font-style: italic;
}

article{
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
}

section{
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    color: #5c6e91;
}

