@{ ViewBag.Title = "Numbers 1 ... " + ViewBag.Count;}

<h2>@ViewBag.Title</h2>
<ul>
    @for (int i = 1; i <= ViewBag.Count; i++)
    {
        <li>@i</li>
    }
</ul>

@using (Html.BeginForm())
{
    @Html.TextBox("Count");
    <input type="submit" />
}