@using System.Diagnostics
@model IEnumerable<ParkingSystem.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cars in Parking</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredTime)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Registration">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Registration">Delete</a>
                @if(item.RegisteredTime - DateTime.Now.TimeOfDay <= new TimeSpan(0, 5, 0))
                {
                    <p>Less than 5 minutes remaining!</p>
                }
            </td>
        </tr>
}
    </tbody>
</table>


@functions{
    public void Alert(){
        <script>alert("Less than 5 minutes parking time left!");</script>
    }
}