img{
    height: auto;
    width: 200px;
}
table, td, th{
    border-style: groove;    
    border-width: 7px; 
}

.head{
    background-color: rgb(138, 243, 69);
}

.body{
    background-color: aquamarine;
}

table tr td:hover {
    background-color: yellow;
    border: 7px dashed black;
}

table tbody tr:nth-child(2n){
    background-color:seagreen;
}

